body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

.game-positioner {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.game-header {
    font-size: 10px;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    height: 30px;
}

#canvas {
    border: 2px solid #000;
    background-color: #fff;
}

.scoreboard {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 30px;
    left: -110px;
    border: 2px solid #000;
    padding: 10px 0;
    background-color: #fff;
}

.player-1 {
    top: 30px;
    left: -110px;
}

.player-2 {
    top: 30px;
    left: 1010px;
}

.scoreboard p {
    margin: 10px auto 0;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

.button-start {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 160px;
    left: -110px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    border: 2px solid #000;
}

.button-start:hover {
    background-color: #ff0;
}

.button-start:focus {
    outline: 1px dotted #000;
    outline-offset: 2px;
}

.button-start:active {
    background-color: #0f0;
}

.gameover {
    position: absolute;
    width: 300px;
    top: 260px;
    left: 350px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    border-radius: 30px;
    display: block;
}

.hidden {
    display: none;
}